/* body {
  background: linear-gradient(135deg, #f9fafb 0%, #e5e7eb 100%);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

body {
  background-color: #f3f4f6;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(0, 0, 0, 0.05) 1px,
    transparent 0
  );
  background-size: 20px 20px;
}
